body {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #dfded5;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #2b5780;
}

label {
    font-family: 'Open Sans', sans-serif;
    color: #974878;
}

input {
    padding: 8px;
    padding-left: 16px;
    background: rgb(88, 61, 77);
    background: linear-gradient(151deg, rgba(88, 61, 77, 1) 0%, rgba(133, 76, 110, 1) 25%, rgba(175, 66, 131, 1) 100%);
    border-radius: 32px;
    border-style: none;
    width: 20%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #dfded5;
    transition: 1s;
}

select {
    padding: 8px;
    padding-left: 16px;
    background: rgb(88, 61, 77);
    background: linear-gradient(151deg, rgba(88, 61, 77, 1) 0%, rgba(133, 76, 110, 1) 25%, rgba(175, 66, 131, 1) 100%);
    border-radius: 32px;
    border-style: none;
    width: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: #dfded5;
    transition: 1s;
}

input:hover {
    cursor: pointer;
    letter-spacing: 2px;
    transition: 1s;
}