body {background-color:#00AFB9; margin:0;}
#nav-wrapper {display:table; background-color:#232E21; width:100%;}
#home-logo {float:left; margin:10px 10px; width:40px}
#nav-wrapper .links {float:right; margin-top:22px; margin-right:8px;}
.links a {padding:20px; text-decoration:none; text-transform:uppercase; font-size:18px; color:#ffffff; font-family: 'Alexandria', sans-serif; font-weight: bold;}
.banner {margin:10px auto; display:table; padding:2px; border-radius:28px; width:75%; background-color: rgba(0, 0, 0, 0.2); border-style: solid;border-color: rgba(0, 0, 0, 0.259);border-width: 1px;}
.banner h1 {text-transform:uppercase; font-size:32px; padding:12px; margin:auto; font-family: 'Alexandria', sans-serif; font-weight: bold; color: #ffffff;}
.lista-banner {padding:6px; border-radius:20px; margin:10px auto; display:table; height:1366px; width:75%; padding:0px; background-color: rgba(0, 0, 0, 0.2); border-style: solid;border-color: rgba(0, 0, 0, 0.259);border-width: 1px; font-family: 'Alexandria', sans-serif; font-weight: bold; color: #ffffff;}
.lista-banner a {padding:12px; position:center; font-size: 25px; text-decoration:none; font-family: 'Alexandria', sans-serif; font-weight: lighter; color: #ffffff;}
.lista-banner img {width:25px; border-radius:50px; margin-left:5px; margin-right:5px;}
.lista-banner ul {padding:2px; margin-left:32px; margin-bottom:60px;}
.audio {width:100px; height:25px;}
#menuburger {display:none;}
hr {background-color:#006b73; margin-right: 22px; height:1px; border: none}
.obterMais {margin-left: 20px}
@media only screen and (max-width:998px) {
#home-logo {width:40px;}
.links a {font-size:12px;}
.banner {padding:2px; border-radius:8px; margin:8px auto; width:75%;}
.banner h1 {padding:1px; margin-left:12px; font-size:12px;}
.lista-banner {border-radius:8px; height:400px; margin:0px auto; width:75%}
.lista-banner a {border-radius:2px; padding:4px; font-size:11px}
.lista-banner img {display:none}
.lista-banner ul {margin-bottom:0px; margin-left:22px;}
.audio {width:100px; height:10px}
}
@media only screen and (max-width:600px) {
    #home-logo {width:40px;}
    .links a {display:none; font-size:0px}
    #nav.wrapper {display:flex;}
    #nav-wrapper .links {display:none; font-size:0px}
    .banner {padding:8px; border-radius:8px; margin:8px auto; width:95%; font-size:7px;}
    .banner h1 {padding:1px; font-size:7px; margin-left:12px}
    .lista-banner {padding:8px; border-radius:8px; height:300px; margin-bottom:30px; width:95%}
    .lista-banner a {border-radius:2px; padding:4px; font-size:7px}
    .lista-banner img {display:none}
    .lista-banner ul {margin-bottom:0px; margin-left:12px;}
    #menuburger {display: inline-flex; align-items:center; float:right; width:60px;}
    }