.banner{
    width:90%;
    height:600px;
    padding:60px;
    margin: 0 auto;
    display: table;
    box-shadow: -1px -2px 5px 13px rgba(9, 76, 78, 0.75);
}
.banner img{
    width:30%;
    height:400px;
    float:right;
}
.banner .texto{
    margin-top:50%;
    width:50%;
    font-size:22px;
}